{% assign p = include.p %}

<li>
  <details>
  <summary>
  {{ p.title}}{% if p.coauthors %} (with {{ p.coauthors }}){% endif %}{% if p.venue %}, <em>{{ p.venue }}</em>{% endif %}
  {% if p.year %} ({{ p.year }}){% endif %}{% if p.type == "preprint" and p.submitted == true %}, submitted.{% endif %}

  {% if p.doi or p.arxiv or p.url or p.pdf %}
    <span class="pub-links">
      {% if p.doi %}
        <a href="https://doi.org/{{ p.doi | strip }}" target="_blank" rel="noopener" title="DOI"><i class="ai ai-doi"></i></a>
      {% endif %}{% if p.arxiv %}
        <a href="https://arxiv.org/abs/{{ p.arxiv | strip }}" target="_blank" rel="noopener" title="arXiv">
          <i class="ai ai-arxiv"></i>
        </a>
      {% endif %}
    </span>
  {% endif %}
  </summary>
  {{ p.summary }}
  </details>
</li>
